/* @media(min-width: 800px) {
    div{
        display: none;
    }
} */
summary {
    padding-left: 30px;
    color:#00205b;
    font-size: 110%;
    text-decoration: underline;
}
h1 {
    border-bottom: 2px solid #52565e;
    background-color: #56a0d3;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin: 0;
}
h2 {
    margin: 15px;
    margin-top: 5px;
    padding-left: 10px;
    color: #00205b;
}
body {
    background-color: whitesmoke;
    margin: 0;
}
h3 {
    font-size: 170%;
    margin: 0;
    padding-top: 30px;
    display: inline;
}
a {
    color: #00205b;
}
ol {
    margin: 0;
}

img {
    width: 450px;
}
hr {
    margin: 0;
}
#grid {
    display: grid;
    grid-template-columns: 200px 0 1fr;
}
#floating {
    width: 200px;
    background-color: whitesmoke;
}
#heading {
    background-color: whitesmoke;
    padding-top: 30px;
    position: fixed;
}
#s_heading {
    margin:0px;
    padding-left: 60px;
}
#s_heading li {
    padding-bottom: 10px;
}
#article {
    display: grid;
    min-width: 500px 1fr;
    border-left: 1px solid black;
    padding-left: 30px;
    color: black;
}
#leisure div {
    display: inline;
    width: 600px;
}
#result {
    font-size: 120%;
    font-weight: bold;
}
#source {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 150%;
    border-top: 1px solid;
}